zooma-loading/zooma-csv-loader/src/main/resources/zooma-csv-loader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.ebi.ac.uk/fgpt/zooma/zooma-csv-loader"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.ebi.ac.uk/fgpt/zooma/zooma-csv-loader"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans" />

    <xsd:element name="csvAnnotations">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[A descriptive name for the ontology (specifically versioned) that ZOOMA annotations will be generated from.  This name should be unique across your configured datasources.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="uri" type="xsd:anyURI" use="required">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[The logical URI of the ontology from which annotations will be generated from.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="loadFrom" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[The location from which the ontology should be loaded.  This is optional - if omitted, ZOOMA will attempt to load the ontology from it's logical URI.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="namespacePrefix" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[A shortform that forms the namespace prefix for the supplied namespace.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="annotationCreator" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[A shortform that forms the namespace prefix for the supplied namespace.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="defaultTargetType"  type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[The URI that will be used to type every target/biological entity]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="defaultSourceType"  type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[The URI that will be used to type every study/source entity]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="delimiter" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[The delimeter used to spearate columns in the input file]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>